body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #37183b;
    margin: 0;
    padding: 20px;
}

#app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    background-color: #370a41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a730b1;
}
