<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Civics Analytics Platform</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Civics Analytics Platform</h2>
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="{% if request.endpoint == 'dashboard' %}active{% endif %}">Dashboard</a></li>
                <li><a href="{{ url_for('nationalsentiments') }}" class="{% if request.endpoint == 'nationalsentiments' %}active{% endif %}">National Sentiments</a></li>
                <li><a href="{{ url_for('nationaldisasters') }}" class="{% if request.endpoint == 'nationaldisasters' %}active{% endif %}">National Disasters</a></li>
                <li><a href="{{ url_for('economicdeficits') }}" class="{% if request.endpoint == 'economicdeficits' %}active{% endif %}">Economic Deficits</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
